.containerPreview {
  display: flex;
  justify-content: center;
}

.flowCanvas {
  width: 500px;  /* Ancho del lienzo */
  height: 600px; /* Alto del lienzo */
  position: relative;
}

.panel {
  width: 30%;
  border-left: 2px solid #ccc;
  padding: 20px;
}
